@model SuperHeroes.Models.SuperHeroes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperHeroes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
