@model SuperHeroProject.Models.SuperHero

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuperHero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchphrase)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />|
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
