@model IEnumerable<SuperHeroProject.Models.SuperHero>

@{
    ViewBag.Title = "SuperHeroes";
}

<h2>SuperHeroes</h2>


<img src="~/Images/punisher.jpg" />
<br />
<p>Click here to add a new SuperHero! @Html.ActionLink("Create", "Create")</p>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    <br>

}
